MONGODB_URI = mongodb+srv://sunilkumarkingrani98:mayur123@test-mern.2cxoo.mongodb.net/?retryWrites=true&w=majority&appName=test-mern
TOKEN_SECRET_KEY = abcdefghijklmnopkqrstuvwxyz
FRONTEND_URL = http://localhost:3000